body {
    
    background-image: url("cork-texture.png");
    background-repeat: repeat;
    background-color: #ce9a50;
    
}

.corkBoard {
    
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    
}

.addNote {
    
    margin: 20px 20px;
    font-size: 30px;
    color: rgba(255, 255, 255, 0.8);
    display: inline-block;
    
}

.addNote:hover {
    
    cursor: pointer;
    color: white;
    
    transform: scale(1.2);
    transition: all 0.1s ease;
    
}

.addNote:active {
    
    transform: scale(1);
    
}

.stickynote {
    
    background-color: #fff5a3;

    min-height: 100px;
    min-width: 150px;
    
    max-height: 300px;
    max-width: 400px;
    
    position: absolute;
    top: 0;
    left: 0;
    
    box-shadow: 20px 20px 20px rgba(0, 0, 0, 0.3);
    
}

.stickynote textarea {
    
    font-family: 'Caveat', cursive;
    font-size: 24px;
    
    background-color: transparent;
    
    min-height: 100px;
    min-width: 150px;
    
    max-height: 300px;
    max-width: 400px;
    
    padding: 25px 10px 5px 10px;
    
    box-sizing: border-box;
    
    border: none; 
    
}

.stickynote textarea:focus {
    
    outline: none;
    
}


.stickynote .bar {
    
    background-color: #e2d883;
    
    width: 100%;
    height: 20px;
    
    position: absolute;
    top: 0;
    left: 0;
    
    text-align: right;
}

.stickynote .bar .close {
    
    margin: auto 5px;
    font-size: 15px;
    color: rgba(0, 0, 0, 0.15);
    
}

.stickynote:hover {
    
    z-index: 10;
    
}

.stickynote .bar:hover {
    
    background-color: #bcb364;
    
    cursor: move;
    
}
.stickynote .bar .close:hover {

    color: rgba(0, 0, 0, 0.3);
    
    cursor: pointer;
    
}

 

